/* SPECIFICATION START */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

h1.title {
    font-size: 62px;
}

h2.title {
    font-size: 42px;
}

/* SPECIFICATION END */


/* UI KIT START */

.main-button {
    padding: 12px 24px;
    font-size: 18px;
    display: block;
    cursor: pointer;
    border-radius: 30px;
    background: #fff;
    color: #000
}

.ghost-button {
    padding: 12px 24px;
    font-size: 18px;
    display: block;
    cursor: pointer;
    border-radius: 30px;
    background:transparent;
    color: #fff;
    border: 1px solid #fff;
}

.title--accent-color {
    color: #fff;
}

/* UI KIT END */


/* HEADER START*/

.header {
    background-color: blue;
    padding-top: 24px;
    padding-bottom: 96px;
}

.header__head {
    margin-bottom: 32px;
}

.head {
    display: flex;
    align-items: center;
}

.head__phone {
    color: #fff;
    margin-left: auto;
}

.header__paragraph {
    color: #fff;
    text-align: center;
    margin-bottom: 32px;
}

.header__title {
    text-align: center;
    margin-bottom: 24px;
}

.header__wrapper {
    display: flex;
    justify-content: center;
}

.header__main-button {
    margin-right: 16px;
}

/* HEADER END*/


/*GALLERY START*/


.section-gallery {
    background-color: red;
    padding-top: 32px;
}

.section-gallery__title {
    text-align: center;
    margin-bottom: 24px;
    color: #fff;
}

.main-gallery__item {
    list-style: none;
}


/*GALLERY END*/


/* FOOTER START */

.footer {
    display: flex;
}

/* FOOTER END */